{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
  <body>
   
      <main class="container">
      <div class="row">
        <div class="col">
          <div class="ml-auto m-2">
            <a href="{% url 'login_detail' %}" class="top-menu">
              <button type="submit" class="btn btn-primary">Login</button>
            </a>
            </div>
          {% for post in posts %}
          <article class="media content-section">
            <div class="media-body">
              <div class="article-metadata">
                <imp src="{% static Post.author.image %}" alt=""/>
                <a class="mr-2" href="#">{{ post.author }}</a>
            <time class="date">published: {{ post.published_date }}</time>
            <h2><a href="{% url 'post_detail' slug=post.slug %}">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
          </div>
          </div>
          </article>
          {% endfor %}
          {% endblock %}

        </div>
      </div>
    </main>
  </body>

