{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="container profile">
    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                <img src="{{user.user_profile.image.url}}" alt="" width="310px" height="270px">

            </div>
        </div>
        <div class="col-md-8">
            <div class="profile-tab">
                <div class="tab-pane">
                    <br><br>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Username:{{user.username}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Full Name:{{user.first_name}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Email:{{user.email}}</label>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <label>Phone Number {{user.phone_no}}</label>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-6">
                            <label>Bio{{user.Bio}}</label>
                        </div>
                    </div>
                    
            
                    <div class="row">
                        <div class="col-md-6">
                            <label>Linkedin{{user.Linkedin}}</label>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Instagram:{{user.Instagram}}</label>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Facebook{{user.Facebook}}</label>
                        </div>
                        
                    </div>
                </div>
                <a href="/update_profile/" class="btn btn-secondary">Edit Profile</a>
            </div>
        </div>
</div>
</div>
{% endblock %}
